@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 300;
    src: local("Muller"),
         url("../fonts/MullerLight.woff2") format("woff2"),
         url("../fonts/MullerLight.woff") format("woff");
}

@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 400;
    src: local("Muller"),
        url("../fonts/MullerRegular.woff2") format("woff2"),
        url("../fonts/MullerRegular.woff") format("woff");
}

@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 500;
    src: local("Muller"),
        url("../fonts/MullerMedium.woff2") format("woff2"),
        url("../fonts/MullerMedium.woff") format("woff");
}
