@media (max-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .navbar .nav {
        justify-content: center;
    }

/* ##################### Section "intro-block" ##################### */

    .intro-block {
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }

/* ##################### Section "photo-block" ##################### */

    .photo-block {
        height: auto;
    }

    .photos {
        justify-content: space-evenly;
    }

    .photo {
        margin-bottom: 25px;
    }

/* ##################### Section "info-block" ##################### */

    .all {
        justify-content: space-evenly;
    }

    .info-icons {
        margin-right: 0;
    }

    .all .info-text {
        max-width: 990px;
    }

    .info-block h2 {
        margin-left: 25px;
    }

/* ##################### Section "why-we" ##################### */

    .why-we .content {
        justify-content: space-around;
    }

}



/* #################################################################### */
/* #################################################################### */
/* #################################################################### */



@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .navbar .nav {
        justify-content: center;
    }

/* ##################### Section "intro-block" ##################### */

    .intro-block {
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }

/* ##################### Section "photo-block" ##################### */

    .photo-block {
        height: auto;
    }

    .photos {
        justify-content: space-evenly;
    }

    .photo {
        margin-bottom: 25px;
    }

/* ##################### Section "info-block" ##################### */

    .all {
        justify-content: space-evenly;
    }

    .info-icons {
        margin-right: 0;
    }

    .all .info-text {
        max-width: 990px;
        font-size: 20px;
        line-height: 20px;
    }

    .info-block h2 {
        margin-left: 25px;
        font-size: 40px;
        line-height: 40px;
    }

/* ##################### Section "why-we" ##################### */

    .why-we .content {
        justify-content: space-around;
    }

    .why-we-text h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .why-we-text ul {
        font-size: 24px;
        line-height: 24px;
    }

/* ##################### Section "footer-block" ##################### */

    .footer h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .footer .text-1 a {
        font-size: 20px;
        line-height: 20px;
    }

    .footer .text-2 p {
        font-size: 20px;
        line-height: 20px;
    }

}



/* #################################################################### */
/* #################################################################### */
/* #################################################################### */



@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    .navbar .nav {
        justify-content: center;
    }

/* ##################### Section "intro-block" ##################### */

    .intro-block {
        top:50%;
        left:50%;
        transform:translate(-50%, -100%);
    }

/* ##################### Section "photo-block" ##################### */

    .photo-block {
        height: auto;
        margin-top: 55px;
        margin-bottom: 30px;
    }

    .photos {
        justify-content: space-evenly;
    }

    .photo {
        margin-bottom: 25px;
        width: 230px !important;
        height: 190px !important;
    }

    .photo img {
        margin-bottom: 25px;
        width: 230px !important;
        height: 190px !important;
    }

/* ##################### Section "info-block" ##################### */

    .info-block {
        margin-top: 30px;
        padding-bottom: 25px;
    }

    .all {
        justify-content: space-evenly;
    }

    .info-icons {
        margin-right: 0;
    }

    .all .info-text {
        max-width: 990px;
        font-size: 16px;
        line-height: 16px;
    }

    .info-block h2 {
        padding-top: 25px;
        margin-left: 25px;
        font-size: 27px;
        line-height: 27px;
    }

    .info-icons img {
        width: 50px;
    }

    .info-icons span {
        font-size: 10px;
        line-height: 10px;
    }

/* ##################### Section "why-we" ##################### */

    .why-we {
        margin-top: 55px;
    }

    .why-we .content {
        justify-content: space-around;
    }

    .why-we-text h2 {
        font-size: 27px;
        line-height: 27px;
    }

    .why-we-text ul {
        font-size: 18px;
        line-height: 18px;
    }

    .content-map {
        width: 300px;
        height: 300px;
    }

/* ##################### Section "footer-block" ##################### */

    .footer h2 {
        font-size: 25px;
        line-height: 25px;
    }

    .footer .text-1 a {
        font-size: 15px;
        line-height: 15px;
    }

    .footer .text-2 p {
        font-size: 15px;
        line-height: 15px;
    }
}



/* #################################################################### */
/* #################################################################### */
/* #################################################################### */



@media (max-width: 568px) {
    .container {
        max-width: 568px;
    }

    .navbar .nav {
        justify-content: space-evenly;
    }

    .nav-link {
        font-size: 16px;
    }

    .navbar .nav .nav-item:not(:last-child) {
        margin: 0 20px 0 0;
    }

/* ##################### Section "intro-block" ##################### */

    .intro-block {
        top:50%;
        left:50%;
        transform:translate(-50%, -60%);
    }

    .intro-block {
        width: 487px;
        height: 210px;
    }

    .intro-block h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .intro-block span {
        font-size: 24px;
        line-height: 24px; 
    }

/* ##################### Section "photo-block" ##################### */

    .photo-block {
        height: auto;
        margin-top: 55px;
        margin-bottom: 30px;
    }

    .photos {
        justify-content: space-evenly;
    }

    .photo {
        margin-bottom: 25px;
        width: 230px !important;
        height: 190px !important;
    }

    .photo img {
        margin-bottom: 25px;
        width: 230px !important;
        height: 190px !important;
    }

/* ##################### Section "info-block" ##################### */

    .info-block {
        margin-top: 30px;
        padding-bottom: 25px;
    }

    .all {
        /* width: 520px; */
        display: block;
    }

    .info-icons {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }

    .all .info-text {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height: 16px;
        margin: auto;
    }

    .info-block h2 {
        text-align: center;
        margin-left: auto;
        padding-top: 25px;
        font-size: 27px;
        line-height: 27px;
    }

    .info-icons {
        padding-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        /* align-items: flex-start; */
        margin-right: auto;
    }

    .info-icons div:not(:first-child) {
        margin-top: auto;
    }

    .info-icons img {
        width: 50px;
    }

    .info-icons span {
        font-size: 10px;
        line-height: 10px;
    }

/* ##################### Section "why-we" ##################### */

    .why-we {
        margin-top: 55px;
    }

    .why-we .content {
        display: block;
        padding: 30px 0 30px 0;
        text-align: center;
    }

    .why-we-text h2 {
        margin-top: 0;
        font-size: 27px;
        line-height: 27px;
    }

    .why-we-text ul {
        margin: 30px 0 30px 0;
        font-size: 18px;
        line-height: 18px;
    }

    .content-map {
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        height: 300px;
    }

/* ##################### Section "footer-block" ##################### */

    .Whatsapp img {
        width: 60px;
    }

    .footer h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .footer .text-1 a {
        font-size: 10px;
        line-height: 10px;
    }

    .footer .text-2 p {
        font-size: 10px;
        line-height: 10px;
    }
} 




/* #################################################################### */
/* #################################################################### */
/* #################################################################### */



@media (max-width: 375px) {
    .container {
        max-width: 375px;
    }

    .navbar .nav {
        justify-content: space-evenly;
    }

    .nav-link {
        font-size: 16px;
    }

    .navbar .nav .nav-item:not(:last-child) {
        margin: 0 20px 0 0;
    }

/* ##################### Section "intro-block" ##################### */

    .intro-block {
        top:50%;
        left:50%;
        transform:translate(-50%, -60%);
    }

    .intro-block {
        width: 487px;
        height: 210px;
    }

    .intro-block h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .intro-block span {
        font-size: 24px;
        line-height: 24px; 
    }

/* ##################### Section "photo-block" ##################### */

    .photo-block {
        height: auto;
        margin-top: 55px;
        margin-bottom: 30px;
    }

    .photos {
        justify-content: space-evenly;
    }

    .photo {
        margin-bottom: 25px;
        width: 230px !important;
        height: 190px !important;
    }

    .photo img {
        margin-bottom: 25px;
        width: 230px !important;
        height: 190px !important;
    }

/* ##################### Section "info-block" ##################### */

    .info-block {
        margin-top: 30px;
        padding-bottom: 25px;
    }

    .all {
        /* width: 520px; */
        display: block;
    }

    .info-icons {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }

    .all .info-text {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height: 16px;
        margin: auto;
    }

    .info-block h2 {
        text-align: center;
        margin-left: auto;
        padding-top: 25px;
        font-size: 27px;
        line-height: 27px;
    }

    .info-icons {
        padding-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        /* align-items: flex-start; */
        margin-right: auto;
    }

    .info-icons div:not(:first-child) {
        margin-top: auto;
    }

    .info-icons img {
        width: 50px;
    }

    .info-icons span {
        font-size: 10px;
        line-height: 10px;
    }

/* ##################### Section "why-we" ##################### */

    .why-we {
        margin-top: 55px;
    }

    .why-we .content {
        display: block;
        padding: 30px 0 30px 0;
        text-align: center;
    }

    .why-we-text h2 {
        margin-top: 0;
        font-size: 27px;
        line-height: 27px;
    }

    .why-we-text ul {
        margin: 30px 0 30px 0;
        font-size: 18px;
        line-height: 18px;
    }

    .content-map {
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        height: 300px;
    }

/* ##################### Section "footer-block" ##################### */

    .Whatsapp img {
        width: 60px;
    }

    .footer h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .footer .text-1 a {
        font-size: 10px;
        line-height: 10px;
    }

    .footer .text-2 p {
        font-size: 10px;
        line-height: 10px;
    }
} 
